.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 165px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
